name: ChefStream CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  backend-qa:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"
    - name: Install Poetry
      run: curl -sSL https://install.python-poetry.org | python3 -
    - name: Install Dependencies
      run: poetry install
    - name: Lint with Black
      run: poetry run black . --check
    - name: Test with Pytest & Coverage
      run: |
        poetry run pip install pytest-cov
        poetry run pytest --cov=app --cov-report=term-missing --cov-fail-under=75

  frontend-qa:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 20
      uses: actions/setup-node@v3
      with:
        node-version: '20'
    - name: Install Dependencies
      run: npm ci
    - name: Lint
      run: npm run lint
    - name: Type Check
      run: npx tsc --noEmit
    - name: Build Check
      run: npm run build
